:root {
	--set-flex: {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
	}

	--flex-justify-space-between: {
		@apply --set-flex;
		justify-content: space-between;
	}

	--flex-justify-end: {
		@apply --set-flex;
		justify-content: flex-end;
	}
}

.clock {
	@apply --flex-justify-space-between;
}
.clock__inner {
	@apply --flex-justify-end;
	font-size: 300px;
    letter-spacing: -55px;
	color: rgba(255, 0, 0, 0.69);
    position: relative;
    bottom: -82px;
	right: 43px;
	min-width: 700px;
}

.clock__time {
	display: inline;
}

.clock__separator {
	margin: 0 16px;
}

.clock button {
	font-size: 70px;
	letter-spacing: -9px;
	word-spacing: 17px;
	color: rgba(255, 255, 255, 0.69);
	background: transparent;
    outline: none;
    border: none;
}