body {
	background: black;
	overflow: hidden;
}
.container { 
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	align-items: flex-end;
	max-width: 100%;
}
clock-component {
	width: 100%;
}