.card-header {
    cursor: pointer;
    list-style: none;
}
.card-header::-webkit-details-marker {
    display: none;
}
.card-header button:hover,
.card-header button:active,
.card-header button:visited,
.card-header button:focus {
    text-decoration: none;
}